@model IEnumerable<MySmallStore.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center;font-weight:600">Active Products</h2>

@foreach (var product in Model)
{
    <div style="width:30%;margin-left:35%;background-color:#211d1d;color:#fff9f9;border-radius:25px;text-align:center;overflow:auto">
        <h1 style="text-decoration:underline">@product.ProductName</h1>   
        <p>Price : @product.Price $</p> 
        <p>Description : @product.Desc</p>
    </div> 
    <br/>
}
<div style="background-color:#5f5a5a;text-align:center;border-radius:25px">
<h1 style="text-decoration:underline;color:#fff9f9;font-family:'Global Sans Serif'">The youngest Customer</h1>
@{ 
    string fullName = ViewBag.Youngest.FirstName + " " + ViewBag.Youngest.LastName;
}
<p style="color:#fc3737;font-size:25px;font-family:'Global Sans Serif'">@fullName</p>
</div>

